/* Home Typography */
h1 {
  text-align: center;
  font-weight: 700;
  font-size: 5.2vw;
  margin-bottom: 0;
  padding: 0;
}

h2 {
  font-size: 4.2vw;
  text-align: center;
  padding: 15px;
}

/* Header */




/* Main */

img {
  width: 100%;
/*  max-height: 90vh;*/
}

.subtitle-container {
  text-align: center;
  margin: 4vw 0;
  margin-bottom: 5.5vw;
}

.subtitle {
  display: inline;
  text-align: center;
  padding: 7vw;
}


 /*full-width hover effects */
 .character-row:hover #character-shaded-cell {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.85)), url("../images/stylized+fantasy+characters2.jpg");
    background-position: right;
    background-size: cover;
  }

  .env-row:hover #env-shaded-cell {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.85)), url("../images/necro.jpg");
    background-position: right;
    background-size: cover;
  }

  .surface-row:hover #surface-shaded-cell {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.89)), url("../images/June.jpg");
    background-position: right;
    background-size: cover;
  }




/* Footer */

footer h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}



/* SMALL ONLY */
@media screen and (max-width: 39.9375em) {
  
  h1 {
    font-size: 7vw;
  }
  
  .subtitle {
    font-size: 4.2vw;
  }
  
  
  footer h2 {
    font-size: 6vw;
    
  }
  
}

/* MEDIUM UP */
@media screen and (min-width: 40em) {
  
  .subtitle {
    font-size: 2vw;
  }
  
}

/* MEDIUM ONLY */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* LARGE UP */
@media screen and (min-width: 64em) {
  
 
}

/* LARGE ONLY */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}