/* Home Typography */
h1 {
  text-align: center;
  font-weight: 700;
  font-size: 5.2vw;
  margin-bottom: 0;
  padding: 0;
}

h2 {
  font-size: 4.2vw;
  text-align: center;
  padding: 15px;
}

/* Header */

 


/* Main */


/*Name Header Animations*/

#alexander {
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
    animation: fadein 3s;
    -webkit-animation-timing-function: ease-in-out; /* Safari, Chrome and Opera > 12.1 */
}

#winkler {
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s; /* Firefox < 16 */
    -ms-animation: fadein 4s; /* Internet Explorer */
    -o-animation: fadein 4s; /* Opera < 12.1 */
    animation: fadein 4s;
    -webkit-animation-timing-function: ease-in-out; /* Safari, Chrome and Opera > 12.1 */
}

.subtitle {
    -webkit-animation: fadein 7s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 7s; /* Firefox < 16 */
    -ms-animation: fadein 7s; /* Internet Explorer */
    -o-animation: fadein 7s; /* Opera < 12.1 */
    animation: fadein 7s;
    -webkit-animation-timing-function: ease-in-out; /* Safari, Chrome and Opera > 12.1 */
}

.subtitle {
    -webkit-animation: fadein 8s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 8s; /* Firefox < 16 */
    -ms-animation: fadein 8s; /* Internet Explorer */
    -o-animation: fadein 8s; /* Opera < 12.1 */
    animation: fadein 8s;
    -webkit-animation-timing-function: ease-in-out; /* Safari, Chrome and Opera > 12.1 */
}

.large-particles {
  -webkit-animation: fadein 8s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 8s; /* Firefox < 16 */
    -ms-animation: fadein 8s; /* Internet Explorer */
    -o-animation: fadein 8s; /* Opera < 12.1 */
    animation: fadein 8s;
    -webkit-animation-timing-function: ease-in-out; /* Safari, Chrome and Opera > 12.1 */
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.subtitle-container {
  text-align: center;
  margin: 4vw 0;
  margin-bottom: 5.5vw;
}

.subtitle {
  display: inline;
  text-align: center;
  padding: 7vw;
}


 /*full-width shaded cell hover effects */
 .character-row:hover #character-shaded-cell {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.85)), url("../images/stylized+fantasy+characters2.jpg");
    background-position: right;
    background-size: cover;
  }

  .env-row:hover #env-shaded-cell {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.85)), url("../images/necro.jpg");
    background-position: right;
    background-size: cover;
  }

  .surface-row:hover #surface-shaded-cell {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.89)), url("../images/June.jpg");
    background-position: right;
    background-size: cover;
  }

/*color image hover effects*/
.img-hover {
  overflow: hidden;
  background-color: #0D0F12;
}

.img-hover img {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  min-height: 100%;
  position: absolute;
  overflow: hidden;
  transition: all .25s ease-out;
}

.rowhover {
  position: relative;
  overflow: hidden;
}

.img-hover:hover img {
  transform: scale(1.08);
}

.img-hover:hover .rowhover::before {
  display: block;
}

.first-row-home {
  height: 52.5vw;
}

.second-row-home {
  height: 47.5vw;
}

.third-row-home {
  height: 52.5vw;
}

/* Footer */





/* SMALL ONLY */
@media screen and (max-width: 39.9375em) {
  
  h1 {
    font-size: 7vw;
  }
  
  .subtitle {
    font-size: 4.2vw;
  }
  
  
  footer h2 {
    font-size: 6vw;
    
  }
  
}

/* MEDIUM UP */
@media screen and (min-width: 40em) {
  
  .subtitle {
    font-size: 2vw;
  }
  
}

/* MEDIUM ONLY */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* LARGE UP */
@media screen and (min-width: 64em) {
  
 
}

/* LARGE ONLY */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}